<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a href="<%= baseUrl() %>" class="header__logoLink">
        <img src="/assets/img/common/logo-h.png" class="header__logoimg" alt="endoluminal solutions" />
      </a>
      <h1 class="header__title">Page title h1</h1>
    </div>
    <div class="header__content">
      <nav class="header__nav">
        <ul class="menu">
          <li class="menu__item">
            <a href="<%= baseUrl() %>" class="menu__link current_page_item">代表者紹介</a>
          </li>
          <li class="menu__item">
            <p class="menu__title">インタビュー</p>
          </li>
          <li class="menu__item">
            <a class="menu__link ">会社概要</a>
          </li>
          <li class="menu__item">
            <a href="<%= baseUrl() %>page-sample/" class="menu__link ">製品紹介</a>
          </li>
          <li class="menu__item">
            <a href="<%= baseUrl() %>page-sample/" class="menu__link ">外科医の働き⽅を多様に</a>
          </li>
          <li class="menu__item">
            <a href="<%= baseUrl() %>page-sample/" class="menu__link ">現⾏の胃がん検診の問題点</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="nav__hamburger js-menu">
      <span class="hamburger-line"></span>
      <span class="hamburger-txt"></span>
    </div>
  </div>

</header>